@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  table {
    width: 100%;
  }
  
 // @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

// body { 
//   font-family: Roboto, Arial, sans-serif;
//   margin: 0;
// }

// .basic-container {
//   padding: 5px;
// }

// .version-info {
//   font-size: 8pt;
//   float: right;
// }

// .element-row {
//     position: relative;
// }

// .element-row:hover {
//     background: gray;
// }

