<html>
<head>
</head>
<body>
    <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <mat-card>
                <div class="row" *ngIf="usuario">
                    <div class="breadcrumb" layout="row" layout-align="start center">
                         <span class="parent">Gerenciamento de Parametros</span> 
                    </div> 
                </div> 
        </mat-card>
        <div class="content">
            <mat-card>
                <div class="row" *ngIf="usuario">
                        <div class="breadcrumb" layout="row" layout-align="start center">
                        <form materialize class="col s12" [formGroup]="form" (ngSubmit)="onSave()">
                                   <input type="hidden" name="usuarioid" [ngModel]="usuario.id" formControlName="id">
                                   <div layout="row">
                                        <mat-form-field>
                                            <input matInput #myInput name="usuarionome" [(ngModel)]="usuario.nome" formControlName="nome" placeholder="Nome">
                                        </mat-form-field>
                                    </div>   
                                    <div layout="row">
                                            <mat-form-field>
                                                <input matInput #myInput name="usuariologin" [(ngModel)]="usuario.login"  formControlName="login" placeholder="Login">
                                            </mat-form-field>
                                    </div>  
                                    <div layout="row">
                                                <mat-form-field>
                                                    <input matInput #myInput type="password" name="usuariosenha" [(ngModel)]="usuario.senha"  formControlName="senha" placeholder="Senha">
                                                </mat-form-field>
                                    </div>  
                                    <div layout="row">
                                          <mat-form-field>
                                              <input matInput #myInput name="usuarioemail" type="email" class="validate" [(ngModel)]="usuario.email" formControlName="email" [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid" placeholder="Email">
                                          </mat-form-field>
                                    </div>   
                                    <div layout="row">          
                                          <button mat-stroked-button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid">Salvar</button>   
                                          &nbsp;&nbsp;
                                          <button mat-stroked-button class="btn waves-effect waves-light" (click)="onCancel()">Cancelar</button>   
                                    </div>
                             </form>
                        </div>
                     </div>
            </mat-card>
        </div>
    </div>